In [ ]:
import pandas as pd
import numpy as np
import tkinter as tk
from tkinter import *
import quandl
import matplotlib
matplotlib.use("TkAgg")
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg, NavigationToolbar2TkAgg
from matplotlib.figure import Figure



class analysis:
    def __init__(self,stype,sname):
        root=tk.Tk()
        self.master=root
        root.title("Analysis and Prediction")
        root.geometry("400x400")
        l=Label(self.master,text=sname).pack(fill=BOTH)
        url=stype+"/"+sname
        self.data=self.extractdata(url)
        self.printdetails()
        self.plotgraph()
        root.mainloop()
        
    def extractdata(self,name):
        quandl.ApiConfig.api_key = "jXPHrf-GmUoyAdmhjcxF"
        data = quandl.get(name)
        return data
        
    def printdetails(self):
        d=pd.DataFrame(self.data.tail(1).T)
        l=Label(self.master,text=d).pack()
     
    def plotgraph(self):
        f = Figure(figsize=(5,5), dpi=100)
        a = f.add_subplot(111)
        a.plot(self.data['Open'])
        canvas = FigureCanvasTkAgg(f, self.master)
        canvas.show()
        canvas.get_tk_widget().pack(side=BOTTOM, fill=BOTH, expand=True)

        toolbar = NavigationToolbar2TkAgg(canvas, self.master)
        toolbar.update()
        canvas._tkcanvas.pack(side=TOP, fill=BOTH, expand=True)
    
window=analysis("NSE","AARTIDRUGS")
window

In [38]:
start_date='2018-01-01'
end_date='2018-06-29'
dates=pd.date_range(start_date,end_date)
df1=pd.DataFrame(index=dates)
for i in l.keys():
    data=l[i]
    name=i.split('/')[1]
    data=data.rename(columns={'Open':name})
    df1=df1.join(data[name])
    
df1.head()

,3IINFOTECH,3MINDIA,A2ZMES,AANJANEYA,AARTIDRUGS,AARTIIND,AARVEEDEN,ABAN,ABB,ABBOTINDIA
2018-01-01,8.4,18901.0,NaN,NaN,646.0,1147.75,50.00,203.95,1412.0,5525.00
2018-01-02,9.2,19424.0,NaN,NaN,636.1,1150.00,50.45,202.75,1400.0,5450.00
2018-01-03,8.0,18990.0,NaN,NaN,642.5,1138.85,48.00,206.00,1401.0,5497.95
2018-01-04,7.6,19400.5,NaN,NaN,716.0,1144.00,49.40,208.80,1420.0,5489.00
2018-01-05,8.7,19440.0,NaN,NaN,744.0,1150.00,57.05,210.00,1432.0,5450.00